<%= simple_form_for(@group, html: {class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :logo_file_size, class: "alert alert-error" %>
  <%= f.full_error :logo_content_type, class: "alert alert-error" %>
  <div class="container">
    <div class="span4">
      <%= f.input :name, label: "Name" %>
      <%= f.input :grouptype, label: "Type" %>
      <%= f.input :location, label: "Location" %>
      <%= f.input :size, label: "Size" %>
      <%= f.input :style, label: "Style" %>
    </div>
    <div class="span4">
      <%= f.input :weburl, label: "Website" %>
      <%= f.input :fburl, label: "Facebook" %>
      <%= f.input :twitterurl, label: "Twitter" %>
      <%= f.input :youtubeurl, label: "Youtube" %>
      <%= f.input :logo, label: "Upload Logo" %>
    </div>
    <div class="span8">
      <%= f.input :bio, label: "Bio", as: :text, input_html: { rows: "3", width: "100%" } %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>